body {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei;
    font-size: 12px;
    line-height: 1.8;
    color:#232526;
}
.doc {
    width: 90%;
    margin: 0 auto;
    padding-top: 16px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 2.4;
    border-bottom: 1px solid #1B1D1E;
    
}
img {
    max-width: 600px;
}
.separate-line {
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #999;
}
table {
    color: #fff;
    margin-top: 8px;
}
th,td {
    background: #4F81BC;
    padding: 4px 16px;
}
#summary {
    color: #3792D6;
    font-weight: bold;
}
.red {
    color: red;
}
.bgred, .bgred td {
    background: #fa4a00;
}
.img-wrap {padding: 14px 0}
.img-wrap img {
    display: block;
}

