/* main css */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl {
	margin: 0;
	padding: 0;
}
ul, ol, dl {
	list-style: none; 
}

body {
	background: #303030 url(../images/bg.png);
}
#doc, .doc {
	width: 845px;
	margin: 0 auto;
	position: relative;
}
.mode {
	position: absolute;
	left: -6px;
	top: 80px;
}
.mode li {
	margin-bottom: 10px;
	line-height: 40px;
	border-width: 1px;
	border-color: #A9101F #5C0C14 #5C0C14 #F44A5A;
	border-style: solid;
	background: #9C0E1C;
	color: #f7f7f7;
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
	width: 80px;
	font-family: Microsoft Yahei, Arail;
	-webkit-transition-duration: 600ms;
	-webkit-border-radius: 0 20px 20px 0;
	cursor: pointer;
}
.mode li.current {
	background: #9F0D1B;
	line-height: 40px;
	-webkit-box-shadow: 2px 2px 5px #400B10;
	width: 100px;
}
.main-con {
	background: #2D2E31;
	height: 100%;
	border-left: 1px solid #3C3D3E;
	border-right: 1px solid #3C3D3E;
}
h1 {
	height: 223px;	
	text-indent: -9999px;
	overflow: hidden;
}
.logo {
	height: 115px;
	width: 148px;
	background: url(../images/logo.png) no-repeat;
	margin: 50px auto 0 auto;
	position: relative;
}
.hi {
	position: absolute;
	left: 132px;
	top: -28px;
	display: none;
	width: 58px;
	height: 60px;
	background: url(../images/hi.png) no-repeat;
}
.logo:hover {
	background: url(../images/logo-hover.png) no-repeat 6px -1px;
}
.logo:hover .hi {
	display: block;
}
.drop-area {
	width: 652px;
	margin: 0 auto;
	border-left: 1px solid #18181A;
	border-right: 1px solid #18181A;
	border-bottom: 1px solid #424346;
	border-top: 1px solid #18181A;
	-webkit-border-radius: 4px;
	overflow: hidden;
	margin-bottom: 68px;
	text-align: center;
	position: relative;
}

.drop-area.noimg {
	background: url(../images/bg1.png);	
}
.drop-area.dragover {
	border-left: 1px solid #96BBDD;
	border-right: 1px solid #96BBDD;
	border-bottom: 1px solid #96BBDD;
	border-top: 1px solid #96BBDD;
	-webkit-box-shadow: 0 0 10px #96BBDD;
}
.drop-area.dragover .drop-inner {
	background-image: url(../images/drop.png);
}
.drop-area img, canvas {

}
.drop-inner {
	
	overflow: hidden;
	width: 650px;
	margin: 0 auto;
	height: 650px;
	border-width: 1px;
	border-color: #191A1F #1E2025 #18181A #1E2025;
	border-style: solid;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 2px #1C1E23;
	text-indent: -9999px;
}
.noimg .drop-inner {
	background: url(../images/drag.png) no-repeat 50% 118px;
}
.hide {
	display: none;
}

.edit-area {
    position: relative;
    overflow: hidden;
    min-height: 175px;
}
.edit-area .ea-title {
    display: none;
    position: absolute;
    top: 0;
    left: 142px;
    text-indent: -9999px;
}
.edit-area .btn1 {
    display: none;
    position: absolute;
    width: 118px;
    height: 45px;
    background: url(../images/btn_03.png) no-repeat 0 0;
    overflow:hidden;
}
.edit-area .btn1 span {
    display: inline-block;
    height: 44px;
    width: 100%;
    background: url(../images/btn-text_03.png) no-repeat;
    text-indent: -9999px;
}
.btn1:hover {
    background-position: -140px 0;
}
.btn1:active, .btn1.active {
    background-position: -279px 0;
}
.edit {
    width: 564px;
    height: 34px;
    background: url(../images/edit_03.png) no-repeat;
}

.limit {
    left: 158px;
    top: 58px;   
}
.limit-panel {
    position: absolute;
    width: 128px;
    height: 52px;
    background: url(../images/limit-panel_03.png) no-repeat;
    left: 148px;
    top: 110px;
    display: none;
}
.btn1.limit span {
    background-position: -140px 50%;
}
.rotate {
    left: 298px;
    top: 58px;   
}
.btn1.rotate span {
    background-position: 0px 50%;
}
.pic-border {
    left: 438px;
    top: 58px;
}
.btn1.pic-border span {
    background: url(../images/border-text_03.png) no-repeat 0 50%; 
}
.scale {
    left: 578px;
    top: 58px;  
}
.btn1.scale span {
    background-position: -280px 50%;
}
