@charset "utf-8";
/* CSS Document */

body{ width:960px; min-height:640px;margin:0 auto auto 0; padding:0; background:#000000}
.stage{width:960px; height:640px;}
.scene_0{ background:#996600; text-align:center}
.scene_1{ background:#0066FF;}
.scene_2{ background:url(map.jpg); position:relative}

/*按钮样式*/
#btn_start{ margin-top: 300px; width:100px; height:100px}/*开始游戏*/
.start_battle{}/*切换到战斗场面*/
.skill_icon{ width:80px; height:80px; background:#000000; float:left}/*技能图标*/
.start_story{}/*切换到剧情模式*/

/*战斗地图部分 box-shadow:1px 1px 5px #333;*/
.ground{ height:512px; width:960px; top:128px; position:absolute}
#skill_panel{ position:absolute; left:20px; top:10px; z-index:2}
#skill_panel .skill{ width:80px; height:80px; float:left; margin-right:10px;border:3px solid #000; display:none; position:relative; border-radius:10px} 
#skill_panel .skill img{ position:absolute;}
.skill .mask{ opacity:0.7; background:#000000; width:80px; height:80px; display:none;}
#skill_effect{ width:960px; height:640px; margin-top:-128px; position:absolute; z-index:1;; text-align:right; overflow:hidden}
/*战斗人物部分*/
.role{ width:105px; height:128px; position:absolute; left:0; top:0; background-position:0; z-index:2}
#big_skill{width:960px; height:640px; background:#000000; opacity:0.8;position:absolute; top:0; left:0;display:none; z-index:10}
.blood_outer{ border:3px solid #000; height:8px; background:#000000; opacity:0.8; border-radius:3px; margin-top:-14px}
.blood_inner{ height:5px; background:#060; width:80%; height:8px}
/*图片资源预加载*/
.preload{ display:none}