/* main css */
/* ----- reset ------ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
abbr,acronym{border:0}
table {border-collapse:collapse; border-spacing:0;}/* tables still need 'cellspacing="0"' in the markup */
img{ -ms-interpolation-mode:bicubic; }
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
button, input, select, textarea {font-size: 100%;}
a,a:link,a:visited,a:focus,a:hover,a:active {color: #245C99;text-decoration:none;}
a:hover {color: #32A2FF;text-decoration: none;}
body,button,input,select,textarea{font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;}
:focus {outline-color: -moz-use-text-color;outline-style: none;outline-width: 0;}

.clr:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}
.clr{zoom:1;}

body {
    background: url(images/bg.png);
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.book {
    background: url(images/pages.png) repeat-y right;
    width: 2160px;
    height: 720px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1620px;
	display: none;
}
.touchdevice .book {

}
section {
    position: absolute;
    width: 1066px;
    height: 720px;
    background: url(images/page.png);
    left: 1080px;
	font-size: 14px;
	line-height: 1.8;
	font-family: Microsoft yahei;
    overflow: hidden;
	word-break: break-word;
	word-wrap: break-word;
}
.touchdevice section {
	width: 800px;
	height: 500px;
	left: 814px;
}

section .fix-width {
    width: 1066px;
    height: 720px;
}
.touchdevice section .fix-width {
	width: 800px;
	height: 500px;
}
.paddiv {
    padding: 60px;
}
.page-left {
	float: left;
	width: 47%;
}
.page-right {
	float: right;
	width: 47%;
}

/** bookmark **/
.bookmark-container {
	position: absolute;
	left: -230px;
	top: 50%;
	height: 500px;
	width: 230px;
	margin-top: -250px;
	border: 1px solid #e4e3e1;
	border-top: 0 none;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	background: #fff;
	z-index: 1050;
}
.tab-wrap {
	width: 230px;
	overflow: hidden;
}
.tab-innerwrap {
	width: 460px;
}
.tab-header {
	background: #dad9d7;
}
.tab-header .tab-btn {
	width: 50%;
	text-align: center;
	line-height: 38px;
	font-size: 20px;
	font-family: Microsoft yahei;
	font-weight: 500;
	color: #3b3b3b;
	cursor: pointer;
}
.tab-header .current {
	background: #b5d6c7;
}
.catalog-btn {
	float: left;
}
.bookmark-btn { float:right; }
.catalog-con, .bookmark-con {
	float: left;
	padding: 12px 10px;
	height: 430px;
	width: 210px;
	overflow: hidden;
}
.catalog-list {
	font-size: 16px;
	font-weight: 500;
	font-family: Microsoft yahei;
	color: #3b3b3b;
}
.catalog-list li {
	line-height: 34px;
	padding: 0 6px;
}
.catalog-list li.current {
	background: #dad9d7;
}

.bookmark-hint-area {
	position: absolute;
	left: 230px;
	top: 50%;
	margin-top: -50px;
	height: 100px;
	width: 20px;
	border-width: 1px 1px 1px 8px;
	border-color: #e3e3e3 #e3e3e3 #e3e3e3 #b7d8c8;
	border-style: solid;
	-webkit-border-radius: 0 8px 8px 0;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	background: #fff;
}
.bookmark-hint-area {cursor:pointer}
